body{
margin:0;
display:grid;
background:black;
color:white;
font-family:Arial;
}

canvas{
display:block;
}

.menu{
position:fixed;
top:10px;
left:10px;
background:#222;
padding:15px;
border-radius:8px;
z-index:10;
}

select,button{
margin-top:5px;
padding:5px;
}